<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Feb 23rd, 14h00 - 16h30)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td> Introduction </td> </tr>
      <tr> <td>14:10</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html" target="_blank" rel="noopener noreferrer">  Introduction to R and RStudio</a> </td> </tr>
      <tr> <td>15:00</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html" target="_blank" rel="noopener noreferrer">	Seeking Help</a> </td> </tr>
      <tr> <td>15:15</td>  <td> Break </td> </tr>
      <tr> <td>15:30</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html" target="_blank" rel="noopener noreferrer">	Data Structures</a> </td> </tr>  
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Mar 3rd, 14h00 - 16h30)</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html" target="_blank" rel="noopener noreferrer">	Exploring Data Frames</a> </td> </tr>
      <tr> <td>14:30</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html" target="_blank" rel="noopener noreferrer">  Subsetting Data</a> </td> </tr>
      <tr> <td>15:00</td>  <td> Break </td> </tr>
      <tr> <td>15:15</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html" target="_blank" rel="noopener noreferrer">  Control Flow</a> </td> </tr>
    </table>
  </div>
  </div>

